@font-face {
    font-family: 'Raleway Light';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Light'),url('/font/Raleway-Light.woff') format('woff');
    }
    @font-face {
        font-family: 'Raleway SemiBold';
        font-style: normal;
        font-weight: normal;
        src: local('Raleway SemiBold'), url('/font/Raleway-SemiBold.woff') format('woff');
        }
*
{
    font-family: 'Raleway Light';
    padding: 0;
    margin: 0;
}

/*******************/
     /* DRY */
/*******************/

.Fontsbold{
    font-family: 'Raleway SemiBold';
}
.Talcenter{
    text-align: center;
}
.Disflexround{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.commander{
    color: white;
    background-color: #ba55d3b0;
    border-radius: 4rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    
   font-size: 3rem;
   padding-top: 3rem;
    width: 50%;
    height: 6rem;
    
    box-shadow: 0 4px 8px grey;
}

.disflexcol{
    display: flex;
    flex-direction: column;
}
.padding{
    padding: 2rem;
}
.paddingstrong{
    padding: 4rem;
    padding-left: 5rem;
}
.padresto{
    padding-left: 1rem;
    padding-top: 1rem;
}
/*******************/
    /* loading spinner */


    .loader{
        margin:auto;
        
        border: 16px solid #bdc3c7;
        width: 120px;
        height: 120px;
        border-top-color: #1abc9c;
        border-bottom-color: #3498db;
        border-radius: 50%;
        animation: chargeur 5s linear ;
        position: absolute;
        z-index: 2;   
        margin-top: 90rem;
        margin-left: 35rem;
        opacity: 0;
    }
    @keyframes chargeur {
        0%{
            transform: rotate(0deg) scale(1);
            border-top-color: red;
            border-bottom-color:red ;
            opacity: 1;
        }
        25%{
            border-top-color: blue;
            border-bottom-color: blue;
            opacity: 1;
        }
        50%{
            transform: rotate(360deg) scale(3);
            border-top-color: red;
            border-bottom-color:red ;
            opacity: 1;
        }
        90%{
            opacity: 0;
        }
        100%{
            display: none;
        }
    

        
    }
/***********
page complete ********/
.pagecomplete{
    position: relative;
    z-index: 1;
}
/*******************/
    /* Head */
/*******************/
header{
    margin-bottom:1rem;
    width: 100%;
}
.Header__logo{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
    
}
.fa-map-marker-alt
{
   position: absolute;
    margin-top: 2.5rem;
    margin-left: 22rem;
}
.header__input input{

    width: 100%;
    
    background-color: rgb(228, 224, 224);
    height: 6rem;
    border: none;
    font-size: 1.3rem;
}
.Header__titre--first{
    font-size:4rem ;
    padding-top: 6rem;
}
.Header__acceuil{

    
    background-color: rgb(242, 242, 242);
    height: 30rem;
    margin-bottom: 5rem;
    margin-top: -1.5rem;
    padding-bottom: 10rem;
    

}
.Header__soustitre{
    font-size: 3rem;
}
.Header__exploration{

    position: relative;
    color: white;
    background-color: #ba55d3b0;
    border-radius: 3rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    font-size: 2rem;
    width: 50%;
    height: 5rem;
    padding: 0.5rem;
    box-shadow: 0 4px 8px grey;
  
}

/************ section 1 fonctionnement********/


.fonctionnement__titre{
    
    font-size: 4rem;
    padding-bottom: 3rem;
}
.fonctionnement__Navigation--bulle{

background-color: rgb(242, 242, 242) ;
    border-radius: 2rem;
    margin-bottom: 3rem;
    height: 10rem;
    width: 98%;

    
    box-shadow: 0 4px 8px grey;
    
    font-size: 2.5rem;    
   
}
.fonctionnement__Navigation--bulle:hover
{
    background-color:#c6b9d6 ;
    box-shadow: 0 4px 10px black;
    
}
.fonctionnement__numero{
    
    border-radius: 20px;
    background-color: #906ebd;
   margin-left: -4rem;
    width: 40px;
    height: 40px;
    
    
    color: white;
}
.fonctionnement__Navigation--text{
    padding-right: 13rem;
    
}

/************ section 2 Restaurants ********/
.restaurants{
    background-color: rgb(242, 242, 242);
}

.restaurants__titre{
    
    font-size: 4rem;
    margin-bottom: 2rem;
    
}

.restaurants__card{
    margin-left: 1rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 4px 8px grey;
    padding: 2px;
    margin-bottom: 3rem;
    width: 95%;
    height: 40rem;
}
.restaurants__card a{
    text-decoration: none;
    color: black;
}


.restaurants__card--image{

    height: 30rem;
   
    width: 100%;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}

.restaurants__card--mint{
    border: rgb(126, 179, 138);
    background-color: rgb(172, 238, 172);
    color: rgb(123, 148, 72);
    width: 22%;
    height: 3rem;
    font-size: 2.5rem;
    
    padding: 1rem;
    
    border-radius: 1px 1px 1px 1px;
    margin-left: 60%; 
    
    margin-top: 1rem;
   position: absolute;
   
   
}
    

.restaurants__card--titre{
    
   padding-top: 1rem;
   font-size: 3rem;
   
}
.restaurants__card--soustitre{
    
    font-size: 2.5rem;
    margin-top: 0.5rem;
}
.restaurants__logo{
    padding-left: 50%;
    ;
    
}


i.restaurant__logo.far.fa-heart{
    margin-left: 10rem;
    
    border-radius: 100%;
}
.fas.fa-heart{
    color: rgb(171, 84, 171);
    margin-left:-4rem;
    opacity: 0;
    
}
.fas.fa-heart:hover{
    opacity: 0.5;
    transition: opacity 1s;
}
.fas.fa-heartbeat{
    opacity: 0;
    color:rgb(171, 84, 171) ;
    margin-left: -2.5rem;
    transition: opacity 1s;
}
.fas.fa-heartbeat:hover{
    opacity: 0.5;
    color:rgb(171, 84, 171) ;
    margin-left: -2.5rem;
}
/************ footer ********/

footer{
    background-color: rgb(67, 63, 63);
    color: white;
    font-size: 1.4rem;
    height: 25rem;
   

}
.Footer_logo--title{
   height: 3rem;
   margin-top: 1rem;
}
.Footer_logo{
    margin-left: 0.5rem;
    
   filter: invert(100%);
}
.Footer__navigation{
    list-style: none;
    margin-left: -2rem ;
    font-size: 2.5rem; 
    margin-top: 1rem;
    margin-bottom: 0.3rem;
}
.Footer_logo--listepuce{
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 2rem;
}
a.Footer_mailto{
    color: white;
    text-decoration: none;
    margin-left: 0.2rem;
}


/************  restaurantssssssss ********/

/*****************/
/** header ****/

.restaurant-header__logo
{
    
    width: 50%;
    margin-left: 15rem;
    padding-top: 1rem;
}

.restaurant-header__IMG--ALF
{
    height: 40rem;
    width: 100%;
    object-fit: cover;
  
}
i.fas.fa-arrow-left.left{
    font-size: 3rem;
    padding: 1rem;
    color: black;
}
/*****************/
/** section restaurant ****/

.restaurant-cartecomplete{
    background-color: rgb(242, 242, 242);
    border-radius: 5rem 5rem 0 0;
    width: 94%;
    margin-top: -8rem;
   position: relative;
   z-index: 2;
   
}
.restaurant-cartecomplete__header{
   padding-top: 2rem;
   padding-bottom: 1rem;
   font-size: 4rem;
   padding-left: 2rem;
    
}

/*****************
keyframe
/*************/



@keyframes slidedown{
    from {
        transform: translateY(80px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes inverseopacity{
    0% {
        
        opacity: 0;
    }
    20% {
        
        opacity: 0;
    }
    40% {
        
        opacity: 0;
    }
    80% {
        
        opacity: 0;
    }
   
   
    100%
    {
        opacity: 1;
    }
}
.inverse{
    animation: inverseopacity 5s;
}

.slide1{
    animation: slidedown 5s;

}
.slide2{
    animation: slidedown 6s;
}
.slide3{
    animation: slidedown 7s;
}
.slide4{
    animation: slidedown 8s;
}
/** section carte complet ****/

.restaurant-cartecomplete__bulle{
   
    border: white solid;
    background-color: white;
    border-radius: 1rem 1rem 1rem 1rem;
    box-shadow: 0 4px 8px grey;
    width: 97%;
    height: 10rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
   transition:  linear;
    position: relative;
    
    
}



.restaurant-cartecomplete__bulle::before{
    content: "";
    position: absolute;
    width: 0px;
    height: 160px;
    top: 0px;
    right: 0px;
    background-color: green;
    z-index: -1;
    transition: 0.5s linear;
    cursor: pointer;

}
.restaurant-cartecomplete__bulle:hover::before{
    width: 300px;

}


h2.restaurant-cartecomplete__titre{
    font-size: 3rem;
    border-bottom: rgb(36, 167, 36) solid;
    width: 10%;
   margin-top: 3rem;
}
.restaurant-cartecomplete__plat{
    margin-bottom: 0.5rem;
    padding-top: 1rem;
    font-size: 3rem;
    
}
.restaurant-cartecomplete__accompagnement{
    font-size: 2.5rem;
}

div.restaurant-cartecomplete__prix{
    margin-left: 50rem;
    margin-top: -1rem;
    font-family: 'Raleway SemiBold';
    font-size: 2rem;
}

/* media queries */

@media screen and (min-width: 1000px){
    .Header__logo{
        justify-content: left;
       
    }
    .header__input input{
        width: 50%;
        background-color: #ba55d3b0;
        
    }
    input {
        margin-left: 40rem;
    margin-bottom: -8rem;
    margin-top: -8rem;
    position: absolute;
    font-size: 1rem;
    
    
    }
    i.fas.fa-map-marker-alt{
        margin-top: -5rem;
        margin-left: 50rem;
        position: absolute;
        z-index: 1;
        
        
    }
    .Header__acceuil {
        margin-top: -2rem;
    }
    ol.fonctionnement {
        flex-direction: row;
        margin-left: -3rem;
       
    }
    li.fonctionnement__Navigation--bulle{
        margin-left: 2rem;
        font-size: 1rem;
        height: 5rem;
        padding-left: 6rem;
        width: 22%;
    }
    .fonctionnement__Navigation--text{
       margin-left: 2rem;
    }
    .fonctionnement__Navigation .fas.fa-hamburger{
        margin-left: 1rem;
    }
    .fas.fa-list-ul{
        margin-left: 1rem;
    }
    .fas.fa-mobile-alt{
        margin-left: 1rem;
    }
    .fonctionnement__numero{
        display: none;
    }
    .restaurants__section{
        display: flex;
        flex-direction: row;
        
    }
    img.restaurants__card--image{
        height: 10rem;
    }
    div.restaurants__card{
        height: 20rem;

    }
    div.restaurants__card--titre{
        font-size: 1rem;
    }
    div.restaurants__card--soustitre{
        font-size: 1rem;
    }
    .restaurants__card--mint{
       margin-left: 10rem;
       font-size: 1rem;
       height: 0.5rem;
       width: 5rem;
       padding-top: -1rem;
    }
    
   
    ul.Footer_logo--listepuce{
        flex-direction: row;
        margin-left: 3rem;
    }
}



